/*  nosotros
--------------------------------*/
.nosotros{
    background:$primario;
    padding:30px 0 0 0;
    .nosotros_member{
        text-align:center;
        margin-bottom:20px;
        .nosotros_pic{
            overflow:hidden;
            text-align:center;
            img{
                max-width:100%;
            }
        }
    }
    .nosotros_details{
        background:$secundario;
        color:$primario;
        padding: 15px;
        border-radius: 0 0 3px 3px;
    }
    h4{
        font-weight: 700;
        margin-bottom: 2px;
        font-size: 18px;
    }
    span{
        font-style: italic;
        display: block;
        font-size: 13px;
    }
    .nosotros_social{
        margin-top:5px;
        a{
            color:$primario;
        }
        i{
            font-size:16px;
            margin: 0 2px;
        }
    }
}