/*--------------------------------------------------------------
pageservicio
--------------------------------------------------------------*/

.pageservicio_titulo{
    margin-top:30px;
    margin-bottom: -15px;
    h1{
        font-size: 36px;
        color: $cuarto;
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        padding-bottom: -15px;
        &:before{
            content: '';
            position: absolute;
            display: block;
            width: 50px;
            height: 3px;
            background: $secundario;
            bottom: 0;
            left: 0;
        }
    }
}

.pageservicio_texto{
    h2{
        padding: 0;
        margin-top:20px;
        margin-bottom:20px;
        font-size:23px;
        color:$secundario;
        font-weight:700;
    }
    p{
        padding: 0;
        margin: 10px;
        font-size:18px;
    }
}