.section-header{
    margin-bottom:30px;
    h2
    {
        font-size: 32px;
        color:#0e5063;
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        padding-bottom: 20px;
        &:before{
            content: '';
            position: absolute;
            display: block;
            width: 50px;
            height: 3px;
            background:$secundario;
            bottom: 0;
            left: 0;
        }
    }
    p{
        padding:0;
        margin:0;
    }
}