/* servicios 
--------------------------------*/
.servicios{
    padding: 30px 0 0 0;
    .servicios_box{
        padding: 40px;
        margin-bottom: 40px;
        box-shadow:10px 10px 15px rgba(73, 78, 92, 0.1);
        background:$primario;
        transition:0.4s;
        align-content:center;
        &:hover{
            box-shadow: 0px 0px 30px rgba(25, 27, 32, 0.15);
            transform: translateY(-10px);
            -webkit-transform: translateY(-10px);
            -moz-transform: translateY(-10px);
            }
        h4{
            text-align:center;
            font-weight:700;
            margin-bottom: 15px;
            font-size: 24px;
            a{
                color:#444;
            }
            }
        i{
            color:$secundario;
        }
        p{
            font-size: 16px;
            margin-left: 0px;
            margin-bottom: 0;
            line-height: 20px;
            text-align:center;
        }
        img{
            display:block;
            width: 200px;
            height: 200px;
            padding: 30px;
            margin:auto;
        }
        .servicios_vermas{
            background:$secundario;
            border: 0;
            border-radius: 3px;
            padding: 6px 18px;
            color: #fff;
            transition: 0.4s;
            cursor:pointer;
            position:center;
            list-style:none;
            text-decoration: none;
            &:hover{
                background:$tercero;
                color:$primario;
            }
        }
    }
}

@media (max-width: 767px){
    .servicios{
        .servicios_box{
            margin-bottom:20px;
            .icon{
                float:none;
                text-align: center;
                padding-bottom: 15px;
            }
            h4{
                margin-left: 0;
                text-align: center;
            }
            p{
                margin-left: 0;
                text-align: center;
            }
            img{
                width:400px;
                height:400px;
                padding:30px;
            }
        }
    }
}

@media (max-width: 450px){
    .servicios{
        .servicios_box{
            margin-bottom:20px;
            .icon{
                float:none;
                text-align: center;
                padding-bottom: 15px;
            }
            h4{
                margin-left: 0;
                text-align: center;
            }
            p{
                margin-left: 0;
                text-align: center;
            }
            img{
                width:250px;
                height:250px;
                padding:30px;
            }
        }
    }
}